<%# <h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p> %>

<div class="panel panel-default">
  <div class="panel-heading">
    <p>Have <%= @product_num %> products in the database</p>
  </div>
  <div class="panel-body">
  <div id="product-summary">
    <div>
      <p id="sold-out-title">Sold out product: </p>
      <ul>
        <% Product.where(quantity: 0).each do |sold_out_product| %>
        <li>
          <%= sold_out_product.name %>
        </li>
        <% end %>
      </ul>
    </div>
    <p><%= link_to "Review all products", admin_products_path %></p>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <p>Have <%= @categories.length %> categories in the database</p>
  </div>
  <div class="panel-body">
    <ul id="category">
      <% @categories.each do |category| %>
        <li> <%= link_to category.name, category %> </li>
      <% end %>
    </ul>
  </div>
</div>